<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Event Calendar</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/css/lato.font.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<footer th:fragment="footer">
    <script th:inline="javascript">
        /*<![CDATA[*/
            var backData = /*[[${events}]]*/ 'default';
        /*]]>*/
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</footer>
</html>
